.body {margin-top: 56px;}
.send-btn {
    float: right;
}
input[type='radio'] {
	display: none;
}
  label img.checked {
	  border-style: inset;
	  border-width: 2px;
	  border-color: #47a0d1;
	  background-color: #47a0d1;
  }

  table, table thead, table tbody {
	  border-style: groove;
	  border-width: 2px;
	  border-color: rgb(0, 73, 83);
	  color: silver;
  }

  tr {
	  background-color: #004955;

  }

  
  th,td {
	  text-align: center;
	  width: 33.333%;
  }

  input[type='submit'] {
	  margin-top: 15px;
		  margin-bottom; 100px;
	  font-size: 24px;
	  width: 100px;
	  height: 180px;

  }
  h1, h2 {
	  text-align: center;
  }

  html, body {
	  background-image: -webkit-linear-gradient(left, #a8a8a8, #e8e8e8, #fff); /* For Chrome and Safari */
	  background-image:    -moz-linear-gradient(left, #a8a8a8, #e8e8e8, #fff); /* For old Fx (3.6 to 15) */
	  background-image:     -ms-linear-gradient(left, #a8a8a8, #e8e8e8, #fff); /* For pre-releases of IE 10*/
	  background-image:      -o-linear-gradient(left, #a8a8a8, #e8e8e8, #fff); /* For old Opera (11.1 to 12.0) */
	  background-image:         linear-gradient(to right, #a8a8a8, #e8e8e8, #fff); /* Standard syntax; must be last */
	  color:transparent;
	  -webkit-background-clip: text;
	  background-clip: text;
  }

  table, button[type='submit']{
	  width:100%;
  }

  h1, h2 {
	  color: #000000;
  }

  textarea{
	  min-width: 300px;
	  min-height: 100px;
	  margin-left: 25%;
  }
